body {
  .container {
    background-image: url("/images/flamingo.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -50px -200px;
    background-color: black;
    color: white;
    max-height: 100%;
    position: absolute;
    // overflow: hidden;
    padding: 2em 2em 2em 2em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .leftSide {
      width: 70%;
      .navLeft {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        h2 {
          font-size: 1em;
          letter-spacing: 0.1em;
        }

        #non-bold {
          font-weight: lighter;
        }

        img {
          width: 40px;
          height: 40px;
        }
      }

      .introTxt {
        border: 2px solid red;
        width: 100px;

        h3 {
          font-size: 1em;
          font-weight: lighter;
          color: rgba(255, 255, 255, 0.658);
        }

        h2 {
          // min-width: 10px;
          border: 2px solid green;
          max-width: inherit;
          font-size: 3em;
          line-height: 3em;

          // max-width: 2px;
        }
      }

      .birdType {
      }
    }

    .rightSide {
      display: flex;
      // justify-content: flex-end;
      // justify-items: flex-end;
      // align-items: flex-end;
      text-align: right;
      flex-direction: column;
      padding: 0em 0em 0 0em;
      flex-basis: content;
      margin: -2.999em -2em 0em 0em;
      // position: fixed;
      color: black;
      // top: 0;
      height: 100vh;
      width: 270px;
      background-color: white;

      h3 {
        margin-right: 0.6em;
        margin-top: -0.9em;
        font-weight: normal;
      }
      h5 {
        margin-right: 2em;
        // margin-bottom: -2.2em;
        // padding-top: 1.6em;
      }
      h5::before {
        content: " ";
        display: block;
        height: 1.2px;
        width: 20px;
        margin-top: 0.5em;
        // bottom: 3px;
        // top: 424.9px;
        left: 21px;
        right: 0px;
        margin-right: -1em;
        // position: absolute;
        float: right;

        background-color: rgba(54, 50, 50, 0.685);
      }

      i {
        margin: 2em 0.6em 2em 0;
      }

      div {
        height: inherit;

        width: inherit;
      }
      div:hover {
        background: black;
        color: white;
        font-size: 1.2em;
        width: 270px;
      }
      i {
        font-size: 1.5em;
      }
    }
  }
}
