.container{
    .orange-text{
        color: #c76e16f3;
        // text-decoration: underline;
    }
    width: 102%;
    display: flex;
    flex-direction: row;
    margin-top: -.46em;
    margin-left: -.6em;
      
    
    //justify-content: space-between;
    //height: ;

    .left-side{
        color: white;
        padding-top: .1em;
        width: 95%;
        padding-left: 3.5em;
        background: #352b1ff5;

        .banner-text{
            margin-left: 2em;
            
              h3{
                  font-size: 2.2em;
                  
                  .orange-text{
                    text-decoration: underline;
                }
                  
              }
              h1{
                  font-size: 8.2em;
                  margin-top: .98em;
                  margin-left: .25em;
              }
              
              h5{
                  margin-top: -1.79em;
                  margin-left: .7em;
                  font-style: normal;
                  font-family: sans-serif;
                  color: rgba(255, 255, 255, 0.589);
                 font-size: 3em; 
                 font-weight: lighter !important;
                line-height: 1.26em;
                 height: 12px;
                 font-family: 'Poppins', sans-serif;
                
                 .orange-text{
                    font-weight: bold;
                    margin-left: 3.9em;
                    
                }
              }
              p{
                  font-size: .95em;
                  width: 342px;
                  margin-top: 13em;
                  margin-left: 2em;
                  font-family: 'Poppins', sans-serif;
                  color: rgba(255, 255, 255, 0.507);
              }

              .more-btn{
                  margin-left: 2em;
                  margin-top: 3.8em;
                  .bg-white{
                      background: white;
                      color: rgba(0, 0, 0, 0.712);
                      border: 1px solid white;
                      border-radius: 20px;
                      width: 134px;
                      padding: .83em .8em;
                      text-align: center;
                      font-size: 1em;
                  }
                  .bg-transparent{
                    border: 1.5px solid rgba(255, 255, 255, 0.281);
                    border-radius: 50px;
                    background: transparent;
                    padding: .83em .8em;
                    text-align: center;
                    font-size: 1.05em;
                    color: rgba(255, 255, 255, 0.89);
                    margin-left: 1.1em;
                  }
              }
        }
        .banner-img{
            float: right;
            margin-right: 15em;
            margin-top: -41.7em;
            img{
                width: 460px;
                height: 640px;
                opacity: .68;
            }

        }
    }
    .right-side{

     background:  #221a10f5;
     color: white;
     width: 125px;
      display: flex;
      flex-direction: column;
      text-align: center;
      
        
    
        height: 100vh;

        i{
            padding-top: 3.9em;
            padding-right: 1em;
            
        }
        .icon-bottom{
            padding-top: 23.8em;
        }
        .gray-color{
            color:rgba(255, 255, 255, 0.377);
        }
    }
}